*.swp
*~
.\#*
.Makefile.swp
.gitignore.swp
mandel.c~
mandel.html~
mandel.o
mandel.wat~
sum.html~
sum.wat~
.sum.html.swp
loadWat.js~
mandel.html~
mandel.wat~
output/
sum.html~
wabt.js
wabt.js-1.0.16-nightly.20200601.tar-1
